@import 'vars';

#leftBlock {
    display: flex;
    min-width: 301px;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 19.59%;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: linear-gradient(0deg, rgba(235, 174, 242, 0.2), rgba(235, 174, 242, 0.2)), #ffffff;
    margin: 0;
    padding: 0;

    .vectorKat {
        padding-top: $margin-top-small-icon;
        width: $width-icon;
        height: $height-icon;
    }

    .autorization {
        font-family: 'Roboto', sans-serif;
        padding: $margin-icon-name-page 0;
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        text-align: center;
        color: black;
    }
}
