// Autorization
$width-icon: 95px;
$height-icon: 81px;
$width-navigation-icon: 25px;
$height-navigation-icon: 25px;
$font-size-main-navigation: 12px;
$margin-top-small-icon: 100px;
$margin-icon-name-page: 200px;
