<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registrathion</title>
        <link rel="stylesheet" href="../../styles/registration_page/registration.css" />
    </head>
    <body>
        <div id="registrationMainWrapper">
            <section id="registrationLeftBlock">
                <img src="../../assets/images/img_registration_page/LOGO.png" class="registration-cat" />
                <h2 class="registration-sign">Registration</h2>
            </section>
            <section id="registrationRaightBlock">
                <header class="registration-mainHader">
                    <img src="../../assets/images/img_registration_page/Vector (Home).png" class="registration-imgHome" />
                    <h3>Registration</h3>
                    <h3>></h3>
                </header>
                <section id="registrationMainSektion">
                    <img src="../../assets/images/img_registration_page/LogoGroup.png" />
                    <form method="get" id="registrationMainFormBlockRaight">
                        <input type="text" placeholder="username" class="registration-user-name" />
                        <input type="password" placeholder="password" class="registration-password" />
                        <input type="password" placeholder="confirm password" class="registration-password confirm" />
                        <button class="registration-signUp"><a href="#" class="registration-sign-up-effect">Sign Up</a></button>
                        <a>if you don't have an account</a>
                        <a id="registrationSign">Sign In</a>
                    </form>
                </section>
            </section>
        </div>
    </body>
</html>
