<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Autorisation</title>
        <link rel="stylesheet" href="styles/autorisation_page/autorisation.css" />
    </head>
    <body>
        <div id="mainWrapper">
            <menu id="leftBlock">
                <img src="assets/images/img_autorisation/LOGO.png" class="vectorKat" />
                <div>
                    <h2 class="autorization">Autorization</h2>
                </div>
            </menu>
            <menu id="raightBlock">
                <header class="mainHader">
                    <div class="imgHome"></div>
                    <h3>Authorization</h3>
                    <h3>></h3>
                </header>
                <section id="mainSektion">
                    <img src="assets/images/img_autorisation/LogoGroup.png" />
                    <form method="get" id="mainFormBlockRaight">
                        <input type="text" placeholder="username" class="userName" />
                        <input type="password" placeholder="password" class="password" />
                        <button class="sign-up"><a href="#" class="sign-up-effect">Sign In</a></button>
                        <a>If you don't have an account</a>
                        <a id="autorisationSign">Sign Up</a>
                    </form>
                </section>
            </menu>
        </div>
    </body>
</html>
